<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .success-message {
            text-align: center;
            font-size: 24px;
            margin-top: 50px;
        }
    </style>
</head>


<header>
    <h1>Home</h1>
    <h2>Welcome</h2>
    <h3>About</h3>
</header>

<main>
    <div class="success-message">
        You have successfully reserved a book.
    </div>
</main>


<footer>
    Illia Solovko s22460
</footer>

</html>