<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<header>
    <h1>Home</h1>
    <h2>Reservation in process..</h2>
    <h3>About</h3>
</header>

<body>
<main>
    <table class="table-book-select">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.name}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <button type="button" class="center-button" th:onclick="|location.href='/final/${book.id}'|">Reservate</button>
            </td>
        </tr>
        </tbody>
    </table>

</main>
</body>

<footer>
    Illia Solovko s22460
</footer>

</html>
